{
    "env": {
        "MANGLE_TOP_LEVEL": {
            "presets": [],
            "plugins": [
                "transform-object-rest-spread",
                ["minify-mangle-names", { "topLevel": true }]
            ],
            "comments": false
        },
        "MINIFY": {
            "presets": ["minify"],
            "plugins": [],
            "comments": false
        }
    }
}
