{
    "presets": ["flow"],

    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src",
                    "types": "../common/types",
                    "common": "../common"
                }
            }
        ],
        "transform-class-properties",
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread",
        "transform-inline-environment-variables"
    ],

    "env": {
        "PRODUCTION": {
            "plugins": [
                [
                    "module-resolver",
                    {
                        "alias": {
                            "~": "./src",
                            "types": "./src/common/types",
                            "common": "./src/common"
                        }
                    }
                ]
            ]
        }
    }
}
