.container {
    overflow-y: scroll;
    max-height: 300px;
}
.list {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px;
}
