{
    "presets": ["flow"],

    "plugins": [
        "transform-class-properties",
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread",
        "transform-inline-environment-variables"
    ],

    "env": {
        "ASYNC_POLYFILL": {
            "plugins": ["transform-async-to-generator"]
        }
    }
}
