{
    "presets": ["flow"],
    "plugins": [
        "emotion",
        ["transform-react-jsx", { "pragma": "h" }],
        "transform-class-properties",
        "transform-es2015-modules-commonjs",
        "transform-object-rest-spread",
    ],
    "env": {
        "production": {
            "plugins": [
                "emotion",
                ["transform-react-jsx", { "pragma": "h" }],
                "transform-class-properties",
                "transform-es2015-modules-commonjs",
                "transform-object-rest-spread",
            ],
            "presets": [
                [
                    "env",
                    {
                        "targets": {
                            "browsers": ["last 2 versions", "safari >= 7"],
                            "node": "8.6"
                        },
                        "loose": true,
                        "module": false
                    }
                ]
            ],
        },
        "ssr": {
            "plugins": [
                "transform-class-properties",
                "transform-object-rest-spread",
                [
                    "transform-assets",
                    {
                        "extensions": ["jpg", "jpeg", "png", "gif"],
                        "name": "/js13k-2017/postmortem/[hash:8].[ext]"
                    }
                ]
            ]
        }
    }
}
